
body{
    padding: 5px;
    background: #242121;
    color: white;
}

.flex{
    display: flex;
    gap: 20px;
}

.wrap{
    flex-wrap: wrap;
}


.center{
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.films{
    width: 250px;
    padding: 5px;
    text-align: center;
}

.Link{
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 30px;
    text-decoration: 2px underline #FC7987;
}

button{
    width: 60px;
    height: 30px;
    background: none;
    color: rgba(255, 255, 255, 0.632);
    border: 2px solid #FC7987 ;
    border-radius: 50px ;
    position: absolute;
    right: 15px;
}

button:hover{
    cursor: pointer;
    color: white;
    text-decoration: 1px underline #FC7987;
}

.filmimg{
    width: 50%;
}


.about{
    width: 70%;
}

.h268{
    height: 268px;
}